*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#A79277;
background-size:cover;
background-position:center;

}
.container{

display:flex;
min-height:100vh;

}
/* SIDEBAR */

header{

width:260px;
background:white;
padding:30px;
text-align:center;

display:flex;
flex-direction:column;
align-items:center;

}

header h3{
margin-top: 30px;
margin-bottom:20px;

}

.profile{

width:140px;
height:140px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;

}

header h1{

font-size:20px;

}

header p{

color:gray;
margin-bottom:30px;

}

nav{

display:flex;
flex-direction:column;
gap:10px;

}

nav button{

padding:10px;
border:none;
background:#a27e4f;
color:white;
border-radius:20px;
cursor:pointer;
transition:.3s;

}

nav button:hover{

background:#523e24;

}

.icons{
    margin-top: 90px;
    margin-bottom: 20px;
    
}
.icons ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}
.icons a{
    color: #321e04;
   
}
.icons li:hover{
    transform:translateY(-8px);
}
.menu-btn{
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left:20px;
    z-index:1100;
    color:#392914;
    
}

/* MAIN CONTENT */

main{

flex:1;
padding:85px;

}

.section{

background: beige;

padding:40px;

border-radius:15px;

animation:fade .7s ease;

}


@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}


/* HERO */

.hero-content{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
flex-wrap:wrap;
}

.profile_img img{
width:280px;
border-radius:5%;
box-shadow:0 15px 40px #534026;
transition:.4s;
}

.profile_img img:hover{
transform:scale(1.05);
}

.hero h1{
font-size:48px;
}

.hero span{
color:#4b3920;
}

.hero h2{
color:#555;
margin:10px 0;
}

.hero p{
margin-bottom:20px;
line-height:1.6;
}

.btn{
padding:14px 30px;
background:linear-gradient(135deg,#4f3e29,#8f7350);
color:white;
border:none;
border-radius:30px;
cursor:pointer;
transition:.3s;
}

.btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* SKILLS */

.skill{

margin-top:20px;

}

.bar{

width:100%;
height:10px;
background:#ddd;
border-radius:10px;
border: 1px solid #735733;
}

.progress{

height:11px;
border-radius:10px;
background:#513613;

}

.html{

width:97%;

}

.css{

width:85%;

}

.js{

width:60%;

}

.jquery{
    width: 75%;
}

.mjml{

width:90%;

}


/* PROJECTS */

.project-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:.3s;

}

.card:hover{

transform:translateY(-12px);

}
.contact_sec{
  display:flex;
  flex-direction: column;
  gap:20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media(max-width:900px){

header{
position:fixed;
top:0;
left:-260px;
height:100%;
z-index:1000;
transition: 0.3s;
}

header.active{
left:0;
}

.menu-btn{
display:block;
}

main{
padding:100px 20px;
}
}
